*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}


body{
    background-color:#d21a1a;
    height: 100%;
    width: 100%;
}
header{
    margin-left: 30px;
    margin-top: 20px;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:  space-between;
}

form{
    margin-left: 30px;
    margin-top: 10px;
   
}

form input{
    width: 100%;
    height: 50px;
    font-size: 22px;
    font-weight: 400;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);  
    border-radius: 10px;
    padding-left: 20px;
}
form input::placeholder{
    font-size: 22px ;
}

form #container-pokes{
    margin-top: 10px;
    border: black 5px solid;
    border-radius: 10px;
    background-color: #d2c9c4;
    width: 600px;
}
form ul{
    overflow-y: auto;
    max-height: 520px;
    overflow-x: hidden;
    padding: 0px 10px;
    visibility: hidden;
    min-height: 200px;
}


form ul::-webkit-scrollbar {
    width: 5px;
  }
  

form ul::-webkit-scrollbar-track {
    background: #d2c9c4;
  }
  

form ul::-webkit-scrollbar-thumb {
    background: rgb(179, 174, 174);
  }
  




form ul .pokecard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 10px 0;
    border-radius: 8px;
    padding: 10px 10px;
    min-height: 180px;
    background-color: orange;
    
  
}
form ul .pokecard:hover{
    transform: scale(1.025);
    transition: 0.3s;
}

form ul .pokecard h2{
    font-size: 32px;
    color: white;
    margin-bottom: 25px;
    text-transform: capitalize;
}

form ul .pokecard .pokeinfo span{
    background-color: red;
    padding: 3px 9px;
    color: white;
    font-size: 20px;
    border:none;
    border-radius: 5px;
    margin-right: 20px;
    text-transform: capitalize;


  
}


form ul .pokeinfo{
    padding-left: 20px;

}

form ul .pokeinfo p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;

}

form ul  img{
    max-height: 150px;
    max-width: 150px;
}
#background-pokemon{
    position: relative;
    height: 50%;
    width: 50%;
}
#background-pokemon img{
    width: 70%;
    margin-left: 20%;
}
#background-pokemon .imagepoke{
   position: absolute;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 35%;
   min-width: 300px;
   height: 200px;
   max-width: 300px;   
}

form ul a{
    text-decoration: none;
    color: black;
}

#load{
    
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    visibility: hidden;
    transition: visibility 1s ;
    
}
#load img{
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#load-info{
    margin-top: 10px;
}

#error{
    position: absolute;
    left: 29%;
    top: 50%;
    width: 600px;
    height: 200px;
    background-color: gray;
    visibility: hidden;
    border-radius: 10px;
    box-shadow: 12px 7px 5px rgba(0, 0, 0, 0.5);  
    opacity: 0.95;
    z-index: 1;
}

#error a {
    margin-left: 570px;
    font-size: 26px;
    color: white;
    cursor: pointer;
}
#error a:hover{
    color: red;
}

.modal-error{
    display: flex;
    border-radius: 10px;
    margin-left: 50px;
    width: 500px;
    height: 200px;
    justify-content: center;
    align-items: center;
    
}

.modal-error img{
    margin-bottom: 45px;
    margin-left: 30px;
    max-width: 70px;
    height: 70px;
}

.modal-error h2{
    margin-bottom: 45px;
    font-size: 32px;
    color: white;
}

header{
    display: flex;
    align-items: center;
}

header a{
    color: black;
    font-size: 26px;
    text-decoration: none;
}
#back{
    
    visibility: hidden;
    margin-left: 250px;
    width: 100px;
    height: 30px;
    background-color: #a51b0b;
    border-radius: 5px;
    box-shadow: 6px 7px 5px rgba(0, 0, 0, 0.5);  
}
#back img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: 5px;
    
}
#back:hover{
    transform: scale(1.025);
    transition: 0.3s;
}

@media only screen and (width: 720px){
    main{
        justify-content: center;
        
    }
    #background-pokemon{
        display: none;
    }
    #load{
      
        left: 0px;
        border-radius: 10px;
        background-color: grey;
        align-items: center;
        
    }
    
}



@media only screen and (width: 900px){
    main{
        justify-content: center;
        
    }
    #background-pokemon{
        display: none;
    }
    #load{
        
      
        border-radius: 10px;
        background-color: grey;
        align-items: center;
        left: 400px;
    }
      
    
}

@media only screen and (width: 1080px){
    main{
        justify-content: center;
        
    }
    #background-pokemon{
        display: none;
    }
    #load{
        
        left: 500px;
        border-radius: 10px;
        background-color: grey;
        align-items: center;
       
    }
      
}

@media only screen and (width:1200px){
    main{
        justify-content: center;
        
    }
    #background-pokemon{
        display: none;
    }
    #load{
        
        left: 600px;
        border-radius: 10px;
        background-color: grey;
        align-items: center;
       
    }
      
    
}

@media only screen and (width: 320px){
    header img{
        height: 50px;
    }
    #back{
        margin-left: 5px;
    }
    #back img{
        height: 16px;
        width: 16px;
    }
    #load {
        left: 30%;
    }
    #load img{
        margin-left: 25%;
        width: 64px;
        height: 64px;
    }
    #error{
        left: 5%;
        top: 50%;
        width: 300px;
        height: 100px;
    }
    #error a{
        margin-left: 0px;
        font-size: 20px;
    }
    .modal-error{
        width: 300px;
        height: 100px;
        margin-left: 0px;
    }
    form{
        margin-left: 0px;
    }
    form #container-pokes{
        width: 310px;
    }
    form ul{
        max-height: 335px;
    }

    form ul .pokeinfo p{
        font-size: 15px;
    }
    form ul .pokeinfo h2{
        font-size: 20px;
    }
    form ul .pokecard{
        min-height: 155px;
    }
    form ul .pokecard .pokeinfo span{
        font-size: 13px;
    }
    form ul img{
        max-height: 120px;
        max-width: 95px;
    }
    #background-pokemon {
        display: none;
    }
    form input{
        height: 30px;
        font-size: 16px;
    }
    .modal-error h2{
        font-size: 16px;
    }
    .modal-error img{
        max-width: 45px;
        height: 45px;
    }
}

@media only screen and (width: 411px){
    header img{
        height: 50px;
    }
    #back{
        margin-left: 5px;
    }
    #back img{
        height: 16px;
        width: 16px;
    }
    #load {
        left: 35%;
    }
    #load img{
        margin-left: 25%;
        width: 64px;
        height: 64px;
    }
    #error{
        left: 13%;
        top: 50%;
        width: 300px;
        height: 100px;
    }
    #error a{
        margin-left: 0px;
        font-size: 20px;
    }
    .modal-error{
        width: 300px;
        height: 100px;
        margin-left: 0px;
    }
    form{
        margin-left: 0px;
    }
    form #container-pokes{
        width: 400px;
    }
    form ul{
        max-height: 590px;
    }

    form ul .pokeinfo p{
        font-size: 15px;
    }
    form ul .pokeinfo h2{
        font-size: 20px;
    }
    form ul .pokecard{
        min-height: 155px;
    }
    form ul .pokecard .pokeinfo span{
        font-size: 13px;
    }
    form ul img{
        max-height: 120px;
        max-width: 95px;
    }
    #background-pokemon {
        display: none;
    }
    form input{
        height: 30px;
        font-size: 16px;
    }
    .modal-error h2{
        font-size: 16px;
    }
    .modal-error img{
        max-width: 45px;
        height: 45px;
    }
}

